# As `$` frequently appears in CurseForge API keys, wrap the value in single quotes.
# When using double quotes, escape each `$` as `\$`.
SJMCL_CURSEFORGE_API_KEY = ''

# Project custom dev toolbar
NEXT_PUBLIC_DEV_TOOLBAR = 'true'
