.card-back {
  background-color: rgba(255, 255, 255, 0.75) !important;
  backdrop-filter: blur(20px);
}

.card-front {
  background-color: #FAFAFA !important;
  padding: var(--chakra-space-3);
}

:global([data-theme="dark"]) .card-back {
  background-color: rgba(0, 0, 0, 0.83) !important;
}

:global([data-theme="dark"]) .card-front {
  background-color: #2E2E2E !important;
}
