cask "sjmcl" do
  arch arm: "aarch64", intel: "x86_64"

  version "__VERSION__"

  on_arm do
    sha256 "__ARM_SHA256__"
  end

  on_intel do
    sha256 "__INTEL_SHA256__"
  end

  url "https://github.com/UNIkeEN/SJMCL/releases/download/v#{version}/SJMCL_#{version}_macos_#{arch}.dmg",
      verified: "github.com/UNIkeEN/SJMCL/"

  name "SJMCL"
  desc "A Minecraft launcher born from @SJMC-Dev, built with the community"
  homepage "https://github.com/UNIkeEN/SJMCL"

  app "SJMCL.app"
end
